.gitlab-login-button {
  display: flex;
  background-color: #fca32620; /* Subtle orange tint */
  color: var(--text-color);
  padding: 0.5rem 1.4rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  font-weight: 700;
  text-align: center;
  vertical-align: middle;
  align-items: center;
  border-radius: 0.5rem;
  gap: 0.75rem;
  border: 2px solid #FC6D26;
  cursor: pointer;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  transition: .3s ease;
  filter: url(#sketchy-sm); /* Apply the sketchy filter */
}

.gitlab-login-button svg {
  height: 24px;
}

.gitlab-login-button:hover {
  background-color: #FC6D26;
  color: #ffffff;
  transform: translateY(-2px);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.gitlab-login-button:active {
  transform: translateY(0);
}
